<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Photo Album</title>
    <link rel="icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <style>
    body {
      font-family: 'Exo', sans-serif;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      position: fixed;
      top: 0;
      left: 0;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }

    h1{
      text-align: center;
      color: #fff;
      font-size: 50px;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .center-objects {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
  </style>
  <body>
    <section class="section context">
      <div class="container">
        <div class="columns center-objects">
          <div class="column">
            <h1><b>Welcome</b></h1>
            <br />
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  id="input_user_name"
                  class="input"
                  type="user_name"
                  placeholder="Username"
                />
                <span class="icon is-user is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input
                  id="input_password"
                  class="input"
                  type="password"
                  placeholder="Password"
                  onkeypress="signInOnKeyPress(event)"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button
                  id="btn-submit"
                  class="button is-primary is-fullwidth"
                  onclick="signIn()"
                >
                  Sign In
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      function signIn() {
        $("#btn-submit").addClass("is-loading");
        const username = document.getElementById("input_user_name").value;
        const password = document.getElementById("input_password").value;

        if (username == "" || null) {
          $("#btn-submit").removeClass("is-loading");
          alert("🛑 Enter a valid Username 🛑");
        } else if (password == "" || null) {
          $("#btn-submit").removeClass("is-loading");
          alert("🛑 Enter a valid Password 🛑");
        } else {
          axios
            .post(
              "/login",
              {},
              {
                headers: {
                  "Content-Type": "application/json",
                },
                params: {
                  username,
                  password,
                },
              }
            )
            .then(function (res) {
              window.location.href = "albums";
            })
            .catch(function (err) {
              // console.log("err response:", err.response.data.message);
              alert(err.response.data.message + "😲")
              location.reload();
            });
        }
      }

      function signInOnKeyPress(e) {
        const key = e.keyCode || e.which;
        if (key == 13) {
          signIn();
        }
      }
    </script>
  </body>
</html>
